body {
  background-image: url(../images/weather/weather.png);
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
  
  ul{ 
    list-style-type: none;
    padding-left: 0;
    color: black;
  }
  
  li{ 
    font-size: 20px;
  }
  
  .col { 
    padding: 5px;
  }
  
  .card {
    width: 100%;
    background-color: #FFFFFF;
  }
  
  
  .forecast-card {
    background-color: #007BFF;
  }
  
  .search-section {
    height: 100%;
  }
  
  
  .cityList {
    border: solid;
    border-width: thin;
    margin: 5px;
    padding-left: 2px;
    background-color: transparent;
  }
  
  .cityList:hover {
    background-color: blue;
    color: #fff;
  }
  
  .container {
    margin-top: 5px;
  }

  footer {
    padding: 0;
    font-size: 20px;
    background-color: black;
    color:  white;
    text-align: center;
    border-top: 8px solid black;
  }